@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: theme("colors.teal.500");
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
